@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

@font-face {
    font-family: 'Pokemon';
    src: url('./Pocket\ Monk.otf') format('truetype'); 
}
 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pokemon", sans-serif;
}

body {
    background-color: linear-gradient(to right, #d4d3dd, #efefbb);
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

h1 {
    letter-spacing: 5px;
}

.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
  
.search-input {
    font-family: 'Arial', bold;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 200px;
}

.button {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Arial', bold;
    color: white;
    background-color: rgb(4, 100, 190);
    border-radius: 10px;
}

.button:hover {
    background-color: rgb(0, 70, 140); 
    transition: background-color 0.3s;
}

.container-pokemons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
    width: 250px;
    height: 300px;
}

.pokemon-card img {
    width: 100px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 100px;
    overflow: hidden; /* Esconda qualquer parte da imagem que se estenda além do círculo */
    margin-bottom: 10px; /* Adicione margem inferior para separar a imagem do resto do conteúdo */
}


.pokemon-card h2 {
    margin-top: 0;
    font-size: 25px;
    color: #000000;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pokemon-card h4 {
    font-size: 20px;
    color: #000000;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.pokemon-card p {
    font-size: 16px;
    color: #000000;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 100, 190);
    width: 100%;
    height: 150px;
}

.pokebola {
    width: auto;
    height: auto;
}

.pokedex {
    margin-right: -200px; /* Adiciona margem à esquerda para reduzir a distância */
}

#search-input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff; 
    padding: 8px 12px;
    width: 200px;
    height: 20px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.number {
    color: #686868;
}

.type {
    border-radius: 5px;
    padding: 5px;
    margin-top: 3px;
    width: 70px;
}

.type-style {
    display: flex;
    justify-content: space-around;
    gap: 20px;
}