@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

@font-face {
    font-family: 'Pokemon';
    src: url('./Pocket\ Monk.otf') format('truetype'); 
}
 
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Pokemon", sans-serif;
}

body {
    background-color: linear-gradient(to right, #d4d3dd, #efefbb);
    display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

h1 {
    letter-spacing: 5px;
}

.search-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.button {
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    font-family: 'Arial', bold;
    color: white;
    background-color: rgb(4, 100, 190);
    border-radius: 10px;
}

.button:hover {
    background-color: rgb(0, 70, 140); 
    transition: background-color 0.3s;
}

.container-pokemons {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
}

.pokemon-card {
    border-radius: 10px;
    box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
    margin: 10px;
    padding: 20px;
    text-align: center;
}

.pokemon-card img {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 120px;
    height: 120px;
    text-align: center;
    max-width: 80%;

}

.pokemon-card h2 {
    margin-top: 0;
    font-size: 20px;
    color: #333;
}

.pokemon-card p {
    font-size: 16px;
    color: #000000;
    font-family: 'Arial', bold;
    font-weight: 400;
    font-style: normal;
}

.container-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(4, 100, 190);
    width: 100%;
    height: 150px;
}

.pokebola {
    width: auto;
    height: auto;
}

.pokedex {
    margin-right: -200px; /* Adiciona margem à esquerda para reduzir a distância */
}

#search-input {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
    background-color: #fff; 
    padding: 8px 12px;
    width: 200px;
    height: 20px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.number {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 2px 10px;
    border-radius: 10px;
    font-size: 0.8rem;
}